<div class="page-header">
  <h1>Dashboard - Student</h1>
</div>

<div class="span8">
  <video id="asset" width="540" height="380">
    <source type="video/ogg" src="<%= asset_path 'trailer_400p.ogg' %>">      
  </video>

  <%= form_tag('classrooms/subscribe', :remote => true, :id => "subscription_form")  do %>
    Enter your name
    <br>
    <%= text_field_tag 'name' ,'', :size => 80 %>
    <%= submit_tag "Submit", :class => 'btn btn-primary' %>
  <% end %>
</div>

<div class="span1" id="chatroom" style="display:none">
  <h1>Chat</h1>

  <ul id="chat" style="list-style: none;height: auto; width: 200px; border: 1px solid black;margin:0px;min-height: 300px;">
  </ul>

  <%= form_tag('classrooms/message', remote: true, :id => "chat_form") do %>
    <%= text_field_tag :content %>
    <%= submit_tag "Send", :class => 'btn btn-primary' %>
  <% end %>
</div>

<script>$("#chatroom").hide();</script>

<%= subscribe_to "/classroom/video" %>
<%= subscribe_to "/classroom/students" %>
<%= subscribe_to "/classroom/messages" %>

<script>
  PrivatePub.subscribe("/classroom/messages", function(data, channel){
    $("#chat").append("<li><span> " + data.time + "</span> " + data.message+ "</li>")
  });
</script>